body {
  display: flex;
  justify-content: center;
  background: #3b4a6b;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; }

#app {
  display: grid;
  grid-auto-rows: max-content;
  // grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:  "hd"
                        "des"
                        "dat"
                        "res"
                        "."
                        ".";
  height:max-content;
  width: 98vw;
  background: #f23557;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  transition: ease 1s;
  border-radius: 10px; }

  @media (min-width: 950px) {
    #app{
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "hd hd hd"
     "des dat res"
     "des dat res"
     "des dat res"
     "des dat res";
      height: 98vh;
      width: 98vw;
      background: #f23557;
      color: #f0d43a;
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      transition: ease 1s;
      border-radius: 10px;
    }
    button {
      margin: 40px;
      width: 100px;
      height: 50px;
      background: #3b4a6b;
      color: #f0d43a;
      font-size: 3vh;
      font-family: "Oswald", sans-serif;
      border: none;
      border-radius: 10px;
      box-shadow: 2px 4px 5px #444;
      transition: ease 0.5s; 
    }
    button:hover {
      background: #84a5ed;
      color: #ee4300;
      width: 110px;
      height: 60px; }

  }

.holder {
  margin: 20px;
  transition: all 1s; }

.entry {
  display: flex;
  flex-direction: column;
  grid-area: res;
  margin: 20px;
  background: rgba(59, 74, 107, 0.4);
  border-radius: 10px; 
  box-shadow: 2px 4px 5px #444;
}

#picture {
  display: flex;
  height: 45vh;
  border-radius:10px;
}

.date {
  grid-area: dat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top; }

.dest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding: 10px;
  grid-area: des; }

#entryHolder {
  margin: 20px; 
}

#date {
  color: #57c4e6; }

.fade {
  left: 50%;
  animation: fadeIn 2s;
  position: relative; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: -200px; }
  100% {
    opacity: 1;
    left: 50%; } }

#temp {
  color: #57c4e6; }

#content {
  color: #57c4e6; }

.headline {
  font-size: 50px;
  margin: 20px;
  grid-area: hd; }

.title {
  margin: 20px;
  grid-area: ft; }

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  margin: 20px;
  font-size: 27px; }

input {
  height: 60px;
  width: auto;
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 10px; 
  box-shadow: 2px 4px 5px #444;
}

button {
  margin: 50px;
  width: 300px;
  height: 100px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 3vh;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px 5px #444;
  transition: ease 0.5s; 
}

button:hover {
  background: #84a5ed;
  color: #ee4300;
  width: 310px;
  height: 110px; }

h1 {
  font-size: 36px; }

textarea {
  resize: none;
  width: 30vw;
  max-width: 30vw;
  margin: 10px;
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border-radius: 10px; }

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus {
  outline: solid; }

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  padding: 10px;
  color: #f0d43a;
  font-family: "Oswald", sans-serif; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  margin: 5px;
  color: #f0d43a;
  font-family: "Oswald", sans-serif; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  margin: 5px;
  color: #f0d43a;
  font-family: "Oswald", sans-serif; }
